[submodule ".vim/pack/vendor/start/vim-rails"]
	path = .vim/pack/vendor/start/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/pack/vendor/start/fzf"]
	path = .vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/vendor/start/vim-polyglot"]
	path = .vim/pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/emmet-vim"]
	path = .vim/pack/vendor/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/vendor/start/vim-rubocop"]
	path = .vim/pack/vendor/start/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule ".vim/pack/vendor/start/vim-commentary"]
	path = .vim/pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/pack/vendor/start/vim-signify"]
	path = .vim/pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/vendor/start/gruvbox"]
	path = .vim/pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/vendor/start/vim-surround"]
	path = .vim/pack/vendor/start/vim-surround
	url = https://tpope.io/vim/surround.git
